.c-button {
  //display: flex;
  //position: absolute;
  justify-content: center;
  align-items: center;
  padding: 11px 109px;
  width: 270px;
  height: 44px;
  background: #31AE54;
  border-radius: 5px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;

  &:hover {
    background: #9E9E9E;
  }
}
