body, html {
  height: 100%;
  font-family: 'Inter';
}

body {
  font-family: 'Inter', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #262626;
  font-size: 14px;
  line-height: 1.8;
}

@for $i from  1 through 6 {
  h#{$i} {
    margin: 0;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin: 0;
}

svg {
  display: block;
}

button {
  font-family: 'Inter';
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.x-container {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  margin: 0;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-18 {
  margin-bottom: 18px;
}
.mb-22 {
  margin-bottom: 22px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mr-4 {
  margin-right: 4px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-24 {
  margin-right: 24px;
}
.mr-28 {
  margin-right: 28px;
}
.fl {
  display: flex;
}
.fl-ju-between {
  display: flex;
  justify-content: space-between;
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}
